.meaMediaText {
  background-color: #f7daca;
  .container {
    img {
      margin-bottom: 12px;
    }
  }
  &__content {
    h3 {
      margin: 12px 0 29px;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: 48px;
    }
    .description {
      margin: 18px 0 32px;
    }
    &--btn {
      margin: 32px 0 70px;
      padding: 1rem 2rem;
      background-color: white;
      display: inline-block;
      border-radius: 6px;
      box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);

      color: #391400;
      text-align: center;
      font-size: 14px;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  &__bottom {
    ul {
      :first-child {
        border-radius: 6px 6px 0px 0px;
      }
      :last-child {
        border-radius: 0px 0px 6px 6px;
      }
      li {
        border: 1px solid #d4a68d;
        text-align: center;
        padding: 45px 48px;
        margin-top: -1px;
        h3 {
          color: #391400;
          font-size: 40px;
          font-style: normal;
          font-weight: 800;
          line-height: 48px;
          margin-bottom: 15px;
        }
        span {
          font-family: Epilogue;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
        }
      }
    }
    padding-bottom: 70px;
  }
  @media screen and (min-width: 640px) {
    &__top {
      display: flex;
      justify-content: space-between;
      img {
        width: 40%;
      }
    }
    &__content {
      padding-top: 30px;
      &--wrapper {
        max-width: 50%;
        margin: auto;
        margin-top: 133px;
      }
      h3 {
        font-size: 56px;
      }
    }
    &__bottom {
      margin-top: 60px;
      ul {
        display: flex;
        width: 100%;

      :first-child {
        border-radius: 6px 0px 0px 6px;
      }
      :last-child {
        border-radius: 0px 6px 6px 0px; 
      }
        li {
          width: 33%;
        }
      }
    }
  }
}
